<div id="js-general-settings" class="bg-blue-50 rounded-md py-4 px-6 pb-6">
    <h3 class="text-lg font-bold mb-4">General settings</h3>

    <form>
        <label for="ticket_modal" class="flex cursor-pointer items-center">
            <input id="ticket_modal"
                   type="checkbox"
                   data-request="{{ __SELF__ }}::onUpdateGeneralSettings"
                   {% if __SELF__.user.team.settings.general.ticket_modal %}checked{% endif %}
                   name="ticket_modal"
                   class="w-6 h-6 mr-4">
            <span class="font-semibold">Open tickets in modal</span>
        </label>
    </form>
</div>