<div class="settings py-10 px-16 bg-white h-full flex flex-col max-h-screen overflow-y-auto overflow-x-hidden" id="project">
    <div class="flex flex-col flex-1">
        <div class="flex items-center pb-2 border-b border-gray-200 mb-6">
            <h2 class="font-bold mr-10 mb-4 text-3xl">Settings</h2>
        </div>

        <div class="layout-body flex-1">
            <div class="settings h-full">
                <div class="flex items-stretch rounded-mb border-b border-gray-200 pb-6">
                    {% set activeClass = 'bg-blue-500 border-blue-500 text-white' %}
                    {% set inactiveClass = 'border-blue-300 text-blue-300' %}

                    {% for segment, params in __SELF__.settingSegments %}
                        <a href="{{ __SELF__.settingsUrl(segment) }}"
                           class="{{ url().current() == __SELF__.settingsUrl(segment) or (not __SELF__.settings and loop.first) ? activeClass : inactiveClass  }} border {{ loop.first ? 'rounded-l-md' : 'border-l-0' }} {{ loop.last ? 'rounded-r-md' }} inline-flex items-center justify-center font-semibold py-1 px-3">
                            <i class="text-2xl mr-2 {{ params[2] }}"></i> {{ params[1] }}
                        </a>
                    {% endfor %}
                </div>

                <div id="js-settings" class="mt-8">
                    {% if __SELF__.settings %}
                        {% partial '@_' ~ __SELF__.settings %}
                    {% else %}
                        {% partial '@_permissions' %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>