.backlog {
  padding: 36px 64px;
  background: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  > svg {
    display: block;
    margin: auto;
  }
  .simplebar-track .simplebar-scrollbar.simplebar-visible:before {
    opacity: .2 !important;
  }
  h2 {
    font-weight: 700;
    margin-right: 64px;
    margin-bottom: 16px;
  }
  #backlog-list {
    //margin-top: 12px;
    flex: 1;
    display: flex;
    flex-direction: column;
    &.no-projects {
      justify-content: center;
      align-items: center;
      h1 {
        font-size: 80px;
        opacity: .2;
        font-weight: 300 !important;
      }
    }
  }
  #backlog-header {
    display: flex;
    align-items: center;
  }
  .search-wrapper {
    max-width: 270px;
    position: relative;
    cursor: pointer;
    width: 100%;
    margin-bottom: 16px;
    margin-right: 40px;
    .la-search {
      cursor: default;
    }
    .la-search, .la-times {
      display: none;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transition: .3s;
      right: 12px;
      font-size: 24px;
      color: #888;
      &.is-active {
        display: block;
      }
    }
  }
  
  .view-select-wrapper {
    margin-left: auto;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    #clear-filters {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 32px;
      height: 32px;
      position: relative;
      border-radius: 6px;
      background: #1e86e0;
      text-decoration: none;
      margin: 0 0 0 12px;
      color: #fff;
      transition: .3s;
      border: 1px solid transparent;
      z-index: 11;
      &::after {
        z-index: 81;
        content: attr(data-tooltip);
        display: block;
        position: absolute;
        top: calc(100% + 12px);
        opacity: 0;
        transform: translateY(-12px) scale(0);
        transition: .2s;
        white-space: nowrap;
        background: #f3f5f7;
        color: #171717;
        font-weight: 700;
        border-radius: 6px;
        font-size: 13px;
        padding: 4px 8px;
      }
      &:hover {
        box-shadow: 0 0 0 0.2rem rgba(52, 144, 220, 0.25);
        border: 1px solid #a1cbef;
        &::after {
          opacity: 1;
          transform: translateY(0) scale(1);
        }
      }
    }
    .select {
      position: relative;
      .la {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 2px;
        height: 20px;
        font-size: 20px;
        background: #fff;
        color: #888;
        width: 32px;
        display: block;
        &::before {
          transition: .2s;
          transform:  rotate(0);
          position: absolute;
        }
        &.is-active::before {
          transform: rotate(-180deg);
        }
      }
    }
    select {
      min-width: 200px;
    }
  }
  #backlog-body {
    flex: 1;
    margin-top: 8px;
    padding-top: 24px;
    border-top: 1px solid rgba(#171717, 0.1);
  
    #overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(255, 255, 255, 0.75);
      z-index: 600;
      opacity: 0;
      visibility: hidden;
      transition: .2s;
      &.is-active {
        opacity: 1;
        visibility: visible;
      }
    }
  
    #ajax-loader {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 601;
      transform: translate(-50%, -50%);
      opacity: 0;
      visibility: hidden;
      transition: .2s;
      &.is-active {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  
  .ticket {
    background: #fff;
    margin-bottom: 20px;
    padding: 10px 16px;
    border-radius: 6px;
    transition: .2s box-shadow;
    position: relative;
    cursor: pointer;
    display: block;
    color: #000;
    text-decoration: none;
    border: 1px solid rgba(0,0,0,0.1);
    &.sortable-chosen {
      background: rgba(lighten(#0049B0, 10%), 0.2);
    }
    &.with-tags {
      //padding-top: 4px;
    }
    &:last-child {
      margin-bottom: 0;
    }
    .ticket-description {
      white-space: pre-wrap;
      line-height: 1.4;
      letter-spacing: .2px;
      text-shadow: 0 0 2px rgba(#171717, 0.1);
      margin-bottom: 8px;
      font-size: 14px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      max-height: calc(14px * 3 * 1.4);
    }
    .ticket-modal {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      .modal-background {
        background: rgba(#171717, 0.4);
      }
    }
    .ticket-tags {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      //margin-top: 8px;
      //margin-left: 16px;
      .tag {
        /*background: rgba(#7545bf, 0.1);
        color: #7545bf;*/
        background: rgba(#0049B0, 0.1);
        color: #0049B0;
        font-weight: 700;
        padding: 2px 8px;
        border-radius: 6px;
        text-decoration: none;
        font-size: 11px;
        transition: .2s;
        margin-top: 8px;
        margin-left: 4px;
        .remove-tag {
          display: none;
        }
        /*&.purple {
          background: rgba(#7545bf, 0.1);
          color: #7545bf;
          &:hover {
            background: rgba(#7545bf, 0.2);
          }
        }
        &.green {
          background: rgba(#0cb042, 0.1);
          color: #0cb042;
          &:hover {
            background: rgba(#0cb042, 0.2);
          }
        }
        &.yellow {
          background: rgba(#ddcd01, 0.1);
          color: #ddb82a;
          &:hover {
            background: rgba(#ddcd01, 0.2);
          }
        }
        &.blue {
          background: rgba(#0049B0, 0.1);
          color: #0049B0;
          &:hover {
            background: rgba(#0049B0, 0.2);
          }
        }
        &.orange {
          background: rgba(#e05f00, 0.1);
          color: #e05f00;
          &:hover {
            background: rgba(#e05f00, 0.2);
          }
        }*/
      }
    }
    .estimation {
      font-size: 13px;
      font-weight: 700;
      margin-bottom: 0;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      div {
        display: flex;
        align-items: center;
        padding: 2px 4px;
        background: #f3f5f7;
        border-radius: 6px;
        margin-bottom: 6px;
        div {
          margin-bottom: 0;
          font-size: 12px;
          border-radius: 0;
          margin-left: 2px;
          padding-left: 6px;
          border-left: 1px solid rgba(#171717, 0.1);
          display: flex;
          align-items: center;
          &:first-child {
            margin-left: 0;
            border-left: none;
          }
          .la {
            margin-right: 2px;
            font-size: 16px;
          }
        }
      }
      p {
        margin-bottom: 6px;
      }
      span {
        font-weight: 600;
        font-size: 13px;
        //border-bottom: 2px solid #0cb042;
        background: rgba(#0feb57, 0.1);
        padding: 2px 4px;
        color: #09a43d;
        border-radius: 6px;
      }
      &.is-not-estimated span {
        //border-bottom: 2px solid #0049B0;
        background: rgba(#009cef, 0.1);
        color: #0058d5;
      }
    }
    .ticket-footer {
      display: flex;
      align-items: center;
      margin-bottom: 8px;
      padding-bottom: 8px;
      border-bottom: 1px solid rgba(#171717, 0.1);
      /*
      .confirmed {
          background: #0cb042;
          color: #fff;
          display: block;
          width: 24px;
          height: 24px;
          border-radius: 6px;
          text-align: center;
          margin-right: 10px;
      }*/
      .ticket-id {
        font-weight: 600;
        font-size: 13px;
        img {
          margin-right: 8px;
        }
      }
      /*
      .estimation {
          font-weight: 600;
          background: #eaeaea;
          color: #171717;
          height: 24px;
          border-radius: 6px;
          padding: 2px 6px;
          font-size: 14px;
      }*/
      .members {
        display: flex;
        margin-left: auto;
      }
      .member {
        cursor: pointer;
        box-shadow: 0 0 8px rgba(#171717, 0.2);
        position: relative;
        margin-left: -8px;
        background: #1e86e0;
        transform: scale(1);
        border: 2px solid #fff;
        width: 26px;
        height: 26px;
        display: flex;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        z-index: 1;
        transition: .2s box-shadow;
        .remove-user-from-ticket {
          display: none;
        }
        &::after {
          z-index: 81;
          content: attr(data-tooltip);
          display: block;
          position: absolute;
          top: calc(100% + 12px);
          right: 0;
          opacity: 0;
          transform: translateY(-12px) scale(0);
          transition: .2s;
          white-space: nowrap;
          background: #f3f5f7;
          color: #171717;
          font-weight: 700;
          border-radius: 6px;
          font-size: 13px;
          padding: 4px 8px;
        }
        img {
          max-width: 26px;
          border-radius: 50%;
        }
        &:first-child {
          margin-left: 0;
        }
        .la {
          font-size: 24px;
          color: #fff;
        }
        &:hover {
          z-index: 80;
          box-shadow: 0 6px 10px -10px rgba(#171717, 0.3);
          &::after {
            opacity: 1;
            transform: translateY(0) scale(1);
          }
        }
      }
    }
    &:hover {
      box-shadow: 0 0 0 0.2rem rgba(52, 144, 220, 0.25);
    }
    input {
      border-radius: 4px;
      padding: 4px 8px;
      font-size: .825rem;
      box-shadow: none;
      line-height: 1;
      width: 100%;
      border: 1px solid #ced4da;
      &[name="name"] {
        font-weight: 700;
      }
      &[name="estimation"] {
        max-width: 70px;
      }
    }
  
    textarea {
      width: 100%;
      border-radius: 4px;
      padding: 12px;
      font-size: .825rem;
      box-shadow: none;
      border: 1px solid #ced4da;
      &::placeholder {
        font-weight: 700;
      }
    }
  
    .save-ticket {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 16px;
    }
    #save-ticket {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 32px;
      height: 32px;
      border-radius: 6px;
      background: #23d045;
      text-decoration: none;
      color: #fff;
      margin: 0 8px;
      transition: .3s;
      border: 1px solid transparent;
      z-index: 12;
      opacity: 0;
      visibility: hidden;
      transform: scale(0);
      &::after {
        z-index: 81;
        content: attr(data-tooltip);
        display: block;
        position: absolute;
        bottom: 100%;
        left: 50%;
        opacity: 0;
        transform: translateY(-12px) scale(0);
        transition: .2s;
        white-space: nowrap;
        background: #f3f5f7;
        color: #171717;
        font-weight: 700;
        border-radius: 6px;
        font-size: 13px;
        padding: 4px 8px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        transform-origin: left top;
      }
      .la {
        font-size: 24px;
      }
      &:hover {
        box-shadow: 0 0 0 0.2rem rgba(0, 220, 50, 0.25);
        border: 1px solid #a6efa2;
        &::after {
          opacity: 1;
          transform: translateX(-50%) translateY(0) scale(1);
        }
      }
      &.is-active {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
      }
    }
  
    &#addTicketForm {
      transform: scale(0);
      cursor: default;
      opacity: 0;
      visibility: hidden;
      position: absolute;
      bottom: 24px;
      left: 0;
      width: 100%;
      box-shadow: 0 0 20px rgba(0,0,0,0.25);
      z-index: 10;
      transition: opacity .03s linear,transform .12s cubic-bezier(0,0,.2,1),-webkit-transform .12s cubic-bezier(0,0,.2,1);
      transform-origin: center bottom;
    
      .members {
        margin-left: 12px;
      }
    
      .priority {
        label {
          span {
            font-size: 13px;
            line-height: 1.25;
            flex: 1;
            white-space: nowrap;
            margin-right: 8px;
          }
          width: 100%;
          display: flex;
          align-items: center;
          select {
            padding-top: 4px;
            padding-left: 4px;
            height: 28px;
            padding-bottom: 4px;
            font-size: .825rem;
          }
        }
      }
    
      input {
        transition: .2s;
        &:focus {
          color: #495057;
          background-color: #fff;
          border-color: #a1cbef;
          outline: 0;
          box-shadow: 0 0 0 0.2rem rgba(52, 144, 220, 0.25);
        }
      }
    
      textarea {
        resize: none;
        margin-bottom: 12px;
        &:focus {
          color: #495057;
          background-color: #fff;
          border-color: #a1cbef;
          outline: 0;
          box-shadow: 0 0 0 0.2rem rgba(52, 144, 220, 0.25);
        }
      }
    
      textarea::placeholder {
        font-weight: 400 !important;
      }
    
      &.to-bottom {
        bottom: auto;
        top: 40px;
        transform-origin: center top;
      }
    
      &.is-active {
        transform: scale(1);
        opacity: 1;
        visibility: visible;
      }
    }
  }
  
  .add-ticket {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
  }
  #add-ticket {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 32px;
    height: 32px;
    border-radius: 6px;
    background: #1e86e0;
    text-decoration: none;
    margin: 0 8px;
    color: #fff;
    transition: .3s;
    border: 1px solid transparent;
    z-index: 11;
    transform: translateX(40px);
    &::after {
      z-index: 81;
      content: attr(data-tooltip);
      display: block;
      position: absolute;
      top: 50%;
      right: 100%;
      opacity: 0;
      transform: translateY(-50%) translateX(40px) scale(0);
      transform-origin: center;
      transition: .2s;
      white-space: nowrap;
      background: #f3f5f7;
      color: #171717;
      font-weight: 700;
      border-radius: 6px;
      font-size: 13px;
      padding: 4px 8px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
    .la {
      font-size: 24px;
    }
    .la-times {
      display: none;
    }
    .la-plus {
      display: block;
    }
    &.is-active {
      transform: translateX(0);
      &::after {
        content: attr(data-tooltip-alt);
      }
      .la-times {
        display: block;
      }
      .la-plus {
        display: none;
      }
    }
    &:hover {
      box-shadow: 0 0 0 0.2rem rgba(52, 144, 220, 0.25);
      border: 1px solid #a1cbef;
      &::after {
        opacity: 1;
        transform: translateX(-8px) translateY(-50%) scale(1);
      }
    }
  }
  .save-ticket {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
  }
  #save-ticket {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 32px;
    height: 32px;
    border-radius: 6px;
    background: #23d045;
    text-decoration: none;
    color: #fff;
    margin: 0 8px;
    transition: .3s;
    border: 1px solid transparent;
    z-index: 12;
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    &::after {
      z-index: 81;
      content: attr(data-tooltip);
      display: block;
      position: absolute;
      bottom: 100%;
      left: 50%;
      opacity: 0;
      transform: translateY(-12px) scale(0);
      transition: .2s;
      white-space: nowrap;
      background: #f3f5f7;
      color: #171717;
      font-weight: 700;
      border-radius: 6px;
      font-size: 13px;
      padding: 4px 8px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      transform-origin: left top;
    }
    .la {
      font-size: 24px;
    }
    &:hover {
      box-shadow: 0 0 0 0.2rem rgba(0, 220, 50, 0.25);
      border: 1px solid #a6efa2;
      &::after {
        opacity: 1;
        transform: translateX(-50%) translateY(0) scale(1);
      }
    }
    &.is-active {
      opacity: 1;
      visibility: visible;
      transform: scale(1);
    }
  }
  .full-ticket {
    position: fixed;
    top: 12px;
    left: 50%;
    width: 100%;
    max-width: 1440px;
    bottom: 12px;
    opacity: 0;
    transform: translateX(-50%) scale(0);
    background: #fff;
    padding: 24px;
    overflow-y: auto;
    max-height: 100%;
    z-index: 8000;
    border-radius: 6px;
    transform-origin: left center;
    transition: opacity .07s linear,transform .24s cubic-bezier(0,0,.2,1),-webkit-transform .24s cubic-bezier(0,0,.2,1);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    &.is-active {
      transform: translateX(-50%) scale(1);
      opacity: 1;
    }
    .search-wrapper .la-search {
      display: block;
    }
    .ticket-header {
      display: flex;
      align-items: center;
      margin-bottom: 24px;
      padding-bottom: 24px;
      border-bottom: 1px solid rgba(23, 23, 23, 0.1);
      .close-ticket {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;
        width: 40px;
        height: 40px;
        border-radius: 6px;
        background: #1e86e0;
        text-decoration: none;
        margin: 0 0 0 auto;
        color: #fff;
        transition: .3s;
        border: 1px solid transparent;
        z-index: 11;
        cursor: pointer;
        &::after {
          z-index: 81;
          content: attr(data-tooltip);
          display: block;
          position: absolute;
          top: 50%;
          right: calc(100% + 12px);
          opacity: 0;
          transform: translateY(-50%) translateX(12px) scale(0);
          transition: .2s;
          white-space: nowrap;
          background: #f3f5f7;
          color: #171717;
          font-weight: 700;
          border-radius: 6px;
          font-size: 13px;
          padding: 4px 8px;
          box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }
        .la {
          font-size: 24px;
        }
        &:hover {
          box-shadow: 0 0 0 0.2rem rgba(52, 144, 220, 0.25);
          border: 1px solid #a1cbef;
          &::after {
            opacity: 1;
            transform: translateY(-50%) translateX(0) scale(1);
          }
        }
      }
      
      h3 {
        margin-bottom: 0;
        display: flex;
        align-items: center;
        
        img {
          margin-right: 8px;
        }
      }
      
      .ticket-tags {
        display: flex;
        align-items: center;
        margin-left: 32px;
        padding-left: 32px;
        padding-top: 8px;
        padding-bottom: 8px;
        position: relative;
        border-left: 1px solid rgba(23, 23, 23, 0.1);
        p{
          margin-bottom: 0;
          font-weight: 600;
          margin-right: 12px;
        }
        .tag {
          background: rgba(#0049B0, 0.1);
          color: #0049B0;
          font-weight: 700;
          padding: 6px 12px;
          border-radius: 6px;
          text-decoration: none;
          font-size: 16px;
          transition: .2s;
          margin: 0 4px;
          position: relative;
          
          .remove-tag {
            cursor: pointer;
            position: absolute;
            bottom: calc(100% - 3px);
            left: 50%;
            transform: translateX(-50%) scale(0);
            transform-origin: center bottom;
            box-shadow: 0 0 8px rgba(#171717, 0.2);
            z-index: 11;
            border-radius: 50%;
            background: #1e86e0;
            text-decoration: none;
            border: 2px solid #fff;
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;
            visibility: hidden;
            transition: opacity .03s linear,transform .12s cubic-bezier(0,0,.2,1),-webkit-transform .12s cubic-bezier(0,0,.2,1);
            .la {
              text-decoration: none;
              font-size: 16px;
              color: #fff;
            }
          }
          
          &:hover {
            .remove-tag {
              transform: translateX(-50%) scale(1);
              opacity: 1;
              visibility: visible;
            }
          }
        }
        .applied-tags {
          display: flex;
          align-items: center;
        }
        .add-tag-btn {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          position: relative;
          width: 40px;
          height: 40px;
          border-radius: 6px;
          background: #1e86e0;
          text-decoration: none;
          margin: 0 0 0 8px;
          color: #fff;
          transition: .3s;
          border: 1px solid transparent;
          z-index: 11;
          cursor: pointer;
          &::before {
            content: "";
            display: block;
            position: absolute;
            top: calc(100% + 4px);
            opacity: 0;
            transform: translateY(-12px) scale(0);
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 16px 8px 16px;
            border-color: transparent transparent #f3f5f7 transparent;
          }
          &::after {
            z-index: 81;
            content: attr(data-tooltip);
            display: block;
            position: absolute;
            top: calc(100% + 12px);
            opacity: 0;
            transform: translateY(-12px) scale(0);
            transition: .2s;
            white-space: nowrap;
            background: #f3f5f7;
            color: #171717;
            font-weight: 700;
            border-radius: 6px;
            font-size: 13px;
            padding: 4px 8px;
          }
          .la {
            font-size: 24px;
          }
          .la-times {
            display: none;
          }
          .la-plus {
            display: block;
          }
          &:hover {
            box-shadow: 0 0 0 0.2rem rgba(52, 144, 220, 0.25);
            border: 1px solid #a1cbef;
            &::after {
              opacity: 1;
              transform: translateY(0) scale(1);
            }
            &::before {
              opacity: 1;
              transform: translateY(0) scale(1);
            }
          }
          &.is-active {
            &::after, &::before {
              display: none;
            }
            .la-times {
              display: block;
            }
            .la-plus {
              display: none;
            }
          }
        }
        .other-tags {
          position: absolute;
          top: 6px;
          left: calc(100% + 8px);
          background: #fff;
          box-shadow: 0 0 12px rgba(#171717, 0.2);
          border-radius: 6px;
          z-index: 16;
          transform: scale(0);
          opacity: 0;
          transform-origin: top left;
          transition: .3s;
          width: 300px;
          display: flex;
          flex-wrap: wrap;
          padding: 12px;
          .search-wrapper {
            margin-bottom: 12px;
            margin-right: 0;
            .la-search {
              display: block;
            }
          }
          a {
            display: block;
            text-decoration: none;
            .tag {
              margin-bottom: 8px;
              display: block;
              margin-left: 0;
              margin-right: 8px;
            }
          }
          .colorpick-eyedropper-input-trigger {
            display: none;
          }
          .tag-color-picker {
            opacity: 0;
            position: absolute;
            bottom: -14px;
            width: 28px;
            left: 25px;
            z-index: 6;
            height: 28px;
            &:hover {
              + .new-tag {
                .buttons {
                  .button:first-child {
                    box-shadow: 0 0 0 0.2rem rgba(52, 144, 220, 0.25);
                    border: 1px solid #a1cbef;
                    &::after {
                      opacity: 1;
                      transform: translateY(0) scale(1);
                    }
                    &::before {
                      opacity: 1;
                      transform: translateY(0) scale(1);
                    }
                  }
                }
              }
            }
          }
          .new-tag {
            position: relative;
            margin: 0;
            min-width: 88px;
            .tag {
              border: 1px dashed #1e86e0;
              border-radius: 8px;
              opacity: 0.5;
              transition: .3s;
              margin: 0;
              text-align: center;
              &:hover {
                outline: none;
                opacity: 0.7;
                box-shadow: 0 0 0 0.2rem rgba(52, 144, 220, 0.25);
              }
              &:focus {
                outline: none;
                opacity: 1;
                border: 1px dashed transparent;
                box-shadow: 0 0 0 0.2rem rgba(52, 144, 220, 0.25);
              }
            }
            .buttons {
              display: flex;
              align-items: center;
              position: absolute;
              bottom: -26px;
              left: 50%;
              transform: translateX(-50%) scale(0);
              opacity: 0;
              visibility: hidden;
              transition: opacity .03s linear,transform .12s cubic-bezier(0,0,.2,1),-webkit-transform .12s cubic-bezier(0,0,.2,1);
              img {
                display: none;
              }
              .button {
                margin: 0 2px;
                .la {
                  display: block;
                }
              }
            }
            &.is-active {
              .tag {
                opacity: 1;
              }
              .buttons {
                opacity: 1;
                visibility: visible;
                transform: translateX(-50%) scale(1);
              }
            }
          }
          &.is-active {
            transform: scale(1);
            opacity: 1;
          }
        }
      }
      
      .assigned-members {
        display: flex;
        align-items: center;
      }
      
      .ticket-non-members {
        position: absolute;
        top: 6px;
        left: calc(100% + 8px);
        background: #fff;
        box-shadow: 0 0 12px rgba(#171717, 0.2);
        border-radius: 6px;
        z-index: 16;
        transform: scale(0);
        opacity: 0;
        transform-origin: top left;
        transition: .3s;
        min-width: 300px;
        .search-wrapper {
          margin-bottom: 0;
          padding: 12px;
          .la-search {
            right: 24px;
          }
        }
        a {
          display: block;
          color: #171717;
          font-weight: 600;
          text-decoration: none;
          padding: 8px 16px;
          border-bottom: 1px solid rgba(#171717, 0.1);
          &:first-child {
            border-top-right-radius: 6px;
            border-top-left-radius: 6px;
          }
          &:last-child {
            border-bottom-right-radius: 6px;
            border-bottom-left-radius: 6px;
            border-bottom: none;
          }
          img {
            margin-right: 12px;
          }
          &:hover {
            background: #fafafa;
          }
        }
        &.is-active {
          transform: scale(1);
          opacity: 1;
        }
      }
      
      .members {
        display: flex;
        align-items: center;
        margin-left: 32px;
        padding-left: 32px;
        padding-top: 8px;
        padding-bottom: 8px;
        position: relative;
        border-left: 1px solid rgba(23, 23, 23, 0.1);
        p{
          margin-bottom: 0;
          font-weight: 600;
          margin-right: 24px;
        }
        .assign-ticket {
          cursor: pointer;
          box-shadow: 0 0 8px rgba(#171717, 0.2);
          position: relative;
          margin-left: -8px;
          background: #1e86e0;
          transform: scale(1);
          border: 2px solid #fff;
          width: 40px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 1;
          border-radius: 6px;
          margin-left: 12px;
          border: 1px solid transparent;
          &::before {
            content: "";
            display: block;
            position: absolute;
            top: calc(100% + 4px);
            opacity: 0;
            transform: translateY(-12px) scale(0);
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 16px 8px 16px;
            border-color: transparent transparent #f3f5f7 transparent;
          }
          &::after {
            z-index: 81;
            content: attr(data-tooltip);
            display: block;
            position: absolute;
            top: calc(100% + 12px);
            opacity: 0;
            transform: translateY(-12px) scale(0);
            transition: .2s;
            white-space: nowrap;
            background: #f3f5f7;
            color: #171717;
            font-weight: 700;
            border-radius: 6px;
            font-size: 13px;
            padding: 4px 8px;
          }
          .la-user-plus {
            display: block;
          }
          .la-times {
            display: none;
          }
          &.is-active {
            &::after, &::before {
              display: none;
            }
            .la-user-plus {
              display: none;
            }
            .la-times {
              display: block;
            }
          }
          &:hover {
            box-shadow: 0 0 0 0.2rem rgba(52, 144, 220, 0.25);
            border: 1px solid #a1cbef;
          }
          .la {
            font-size: 24px;
            color: #fff;
          }
          &:hover {
            z-index: 80;
            box-shadow: 0 0 10px rgba(#171717, 0.3);
            &::after {
              opacity: 1;
              transform: translateY(0) scale(1);
            }
            &::before {
              opacity: 1;
              transform: translateY(0) scale(1);
            }
          }
        }
        .member {
          cursor: pointer;
          box-shadow: 0 0 8px rgba(#171717, 0.2);
          position: relative;
          margin-left: -8px;
          background: #1e86e0;
          transform: scale(1);
          border: 2px solid #fff;
          width: 40px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 1;
          &::before {
            content: "";
            display: block;
            position: absolute;
            top: calc(100% + 4px);
            opacity: 0;
            transform: translateY(-12px) scale(0);
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 16px 8px 16px;
            border-color: transparent transparent #f3f5f7 transparent;
          }
          &::after {
            z-index: 81;
            content: attr(data-tooltip);
            display: block;
            position: absolute;
            top: calc(100% + 12px);
            opacity: 0;
            transform: translateY(-12px) scale(0);
            transition: .2s;
            white-space: nowrap;
            background: #f3f5f7;
            color: #171717;
            font-weight: 700;
            border-radius: 6px;
            font-size: 13px;
            padding: 4px 8px;
          }
          .remove-user-from-ticket {
            position: absolute;
            bottom: 100%;
            left: 50%;
            transform: translateX(-50%) scale(0);
            transform-origin: center bottom;
            box-shadow: 0 0 8px rgba(#171717, 0.2);
            z-index: 11;
            border-radius: 50%;
            background: #1e86e0;
            text-decoration: none;
            border: 2px solid #fff;
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;
            visibility: hidden;
            transition: opacity .03s linear,transform .12s cubic-bezier(0,0,.2,1),-webkit-transform .12s cubic-bezier(0,0,.2,1);
            .la {
              font-size: 16px;
              color: #fff;
              text-decoration: none;
            }
          }
          &:first-child {
            margin-left: 0;
          }
          &:hover {
            z-index: 80;
            box-shadow: 0 0 10px rgba(#171717, 0.3);
            &::after {
              opacity: 1;
              transform: translateY(0) scale(1);
            }
            &::before {
              opacity: 1;
              transform: translateY(0) scale(1);
            }
            .remove-user-from-ticket {
              transform: translateX(-50%) scale(1);
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }
    }
  }
  .add-ticket-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #addTicket {
    position: absolute;
    top: 12px;
    z-index: 800;
    left: calc(25% + 12px);
    right: 12px;
    bottom: 12px;
    border-radius: 6px;
    padding: 24px;
    transform: scaleX(0);
    opacity: 0;
    background: #fff;
    transition: .3s;
    transform-origin: right center;
    &.is-active {
      opacity: 1;
      transform: scaleX(1);
    }
  }
}

#backlog-body:not(.grid-view) {
  .ticket .ticket-tags {
    justify-content: flex-start;
  }
}
#backlog-body.grid-view {
  #tickets .section-tickets {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    .ticket {
      margin-left: 20px;
      width: 100%;
      max-width: calc(25% - 20px);
    }
  }
}

.view-pages-backlog-backlog {
  .sidebar + .content {
    background: #fff;
    overflow-y: auto;
  }
  #backlog-list {
    padding-bottom: 40px;
  }
}