.project-members {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  padding-left: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  position: relative;
  border-left: 1px solid rgba(#171717, 0.1);
  strong {
    margin-right: 24px;
    font-size: 18px;
  }
  .non-members {
    position: absolute;
    top: 6px;
    left: calc(100% + 8px);
    background: #fff;
    box-shadow: 0 0 12px rgba(#171717, 0.2);
    border-radius: 6px;
    z-index: 6;
    transform: scale(0);
    opacity: 0;
    transform-origin: top left;
    transition: .3s;
    min-width: 300px;
    .search-wrapper {
      margin-bottom: 0;
      padding: 12px;
    }
    a {
      display: block;
      color: #171717;
      font-weight: 600;
      text-decoration: none;
      padding: 8px 16px;
      border-bottom: 1px solid rgba(#171717, 0.1);
      &:first-child {
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
      }
      &:last-child {
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
        border-bottom: none;
      }
      img {
        margin-right: 12px;
      }
      &:hover {
        background: #fafafa;
      }
    }
    &.is-active {
      transform: scale(1);
      opacity: 1;
    }
  }
  .member {
    cursor: pointer;
    //box-shadow: 0 0 8px rgba(#171717, 0.2);
    //border: 2px solid rgba(0, 0, 0, 0.1);
    position: relative;
    margin-left: -8px;
    background: #1e86e0;
    transform: scale(1);
    border: 2px solid #fff;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: calc(100% + 4px);
      opacity: 0;
      transform: translateY(-12px) scale(0);
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 16px 8px 16px;
      border-color: transparent transparent #f3f5f7 transparent;
    }
    &::after {
      z-index: 81;
      content: attr(data-tooltip);
      display: block;
      position: absolute;
      top: calc(100% + 12px);
      opacity: 0;
      transform: translateY(-12px) scale(0);
      transition: .2s;
      white-space: nowrap;
      background: #f3f5f7;
      color: #171717;
      font-weight: 700;
      border-radius: 6px;
      font-size: 13px;
      padding: 4px 8px;
    }
    .remove-user {
      position: absolute;
      bottom: 100%;
      left: 50%;
      transform: translateX(-50%) scale(0);
      transform-origin: center bottom;
      box-shadow: 0 0 8px rgba(#171717, 0.2);
      z-index: 11;
      border-radius: 50%;
      background: #1e86e0;
      text-decoration: none;
      border: 2px solid #fff;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      visibility: hidden;
      transition: opacity .03s linear,transform .12s cubic-bezier(0,0,.2,1),-webkit-transform .12s cubic-bezier(0,0,.2,1);
      .la {
        font-size: 16px;
      }
    }
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      border-radius: 6px;
      margin-left: 12px;
      border: 1px solid transparent;
      .la-user-plus {
        display: block;
      }
      .la-times {
        display: none;
      }
      &.is-active {
        &::after, &::before {
          display: none;
        }
        .la-user-plus {
          display: none;
        }
        .la-times {
          display: block;
        }
      }
      &:hover {
        box-shadow: 0 0 0 0.2rem rgba(52, 144, 220, 0.25);
        border: 1px solid #a1cbef;
      }
    }
    .la {
      font-size: 24px;
      color: #fff;
    }
    &:hover {
      z-index: 80;
      box-shadow: 0 0 10px rgba(#171717, 0.3);
      &::after {
        opacity: 1;
        transform: translateY(0) scale(1);
      }
      &::before {
        opacity: 1;
        transform: translateY(0) scale(1);
      }
      .remove-user {
        transform: translateX(-50%) scale(1);
        opacity: 1;
        visibility: visible;
      }
    }
  }
}