.reports-analytics {
  padding: 36px 64px;
  background: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  > svg {
    display: block;
    margin: auto;
  }
  h2 {
    font-weight: 700;
    margin-right: 64px;
    margin-bottom: 0;
  }
  #ra-wrapper {
    //margin-top: 12px;
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  #ra-header {
    display: flex;
    align-items: center;
  }
  #ra-body {
    flex: 1;
    margin-top: 24px;
    padding-top: 24px;
    border-top: 1px solid rgba(#171717, 0.1);
    display: flex;
    flex-direction: column;
  }
  .widget {
    flex: 1;
    padding: 24px;
    border-radius: 8px;
    background: #edf3f7ab;;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    .widget-header {
      margin-bottom: 12px;
      padding-bottom: 12px;
      border-bottom: 1px dotted rgba(0,0,0,0.1);
      display: flex;
      align-items: center;
      width: 100%;
      h5 {
        font-weight: 600;
        margin-bottom: 0;
      }
      .buttons {
        margin-left: auto;
        display: flex;
        align-items: center;
        .button {
          margin: 0 8px;
          padding-left: 12px;
          padding-right: 12px;
          min-width: 110px;
          &:not(.is-active) {
            background: transparent;
            color: #1e86e0;
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
    #container, #container-cc {
      background: #fff;
      padding: 12px;
      border-radius: 8px;
      flex: 1;
      display: flex;
      align-items: center;
    }
  }
  .search-wrapper {
    max-width: 300px;
    position: relative;
    cursor: pointer;
    width: 100%;
    margin-bottom: 16px;
    margin-right: 40px;
    .la-search, .la-spinner {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transition: .3s;
      right: 12px;
      font-size: 24px;
      color: #888;
    }
    .la-spinner {
      transition: none;
      top: 10px;
      transform: none;
    }
  }
  
  .nav-pills {
    margin-bottom: 24px;
    .button {
      margin-right: 16px;
      padding-left: 12px;
      padding-right: 12px;
      min-width: 110px;
      &:not(.is-active) {
        background: #fff;
        color: #1e86e0;
      }
    }
  }
}