@keyframes animateBoxShadow {
  0% {
    box-shadow: 0 0 0 rgba(#0049B0, 0);
    border: 1px solid transparent;
  }
  30% {
    box-shadow: 0 0 25px rgba(#0049B0, 0.4);
    border: 1px solid rgba(#0049B0, 0.4);
  }
  100% {
    box-shadow: 0 0 0 rgba(#0049B0, 0);
    border: 1px solid transparent;
  }
}

.timer {
  background: #fff;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid transparent;
  &.is-active {
    animation: 1s ease animateBoxShadow
  }
  span {
    padding-left: 12px;
    &.button {
      position: relative;
      padding: 4px 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 6px;
      cursor: pointer;
      height: 36px;
      width: 36px;
      background: #1e86e0;
      z-index: 4;
      transition: .3s;
      margin-left: 8px;
      border: 1px solid transparent;
      &::after {
        z-index: 81;
        content: attr(data-tooltip);
        display: block;
        position: absolute;
        bottom: calc(100% + 12px);
        opacity: 0;
        transform: translateY(-12px) scale(0);
        transition: .2s;
        white-space: nowrap;
        background: #f3f5f7;
        color: #171717;
        font-weight: 700;
        border-radius: 6px;
        font-size: 13px;
        padding: 4px 8px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
      }
      &:hover {
        box-shadow: 0 0 0 0.2rem rgba(52, 144, 220, 0.25);
        border: 1px solid #a1cbef;
        &::after {
          opacity: 1;
          transform: translateY(0) scale(1);
        }
      }
      &.button-green {
        background: #23d045;
        &:hover {
          box-shadow: 0 0 0 0.2rem rgba(0, 220, 50, 0.25);
          border: 1px solid #a6efa2;
        }
      }
    }
  }
  .buttons {
    padding: 8px 8px;
    display: flex;
  }
  .start-timer,
  .start-timer[data-timer-started="false"]
  {
    .la-clock-o {
      display: block;
    }
    .la-pause {
      display: none;
    }
  }
  .start-timer[data-timer-started="true"] {
    &::after {
      content: attr(data-tooltip-alt);
    }
    .la-clock-o {
      display: none;
    }
    .la-pause {
      display: block;
    }
  }
  .la {
    color: #fff;
    vertical-align: middle;
    font-size: 24px;
  }
  &:not(:last-child) {
    margin-bottom: 24px;
  }
}