<div class="search-wrapper p-3 relative">
    <input id="search-users" name="query" value="{{ query ?: '' }}" type="text" data-request="{{ __SELF__ }}::onSearchUsers" data-track-input data-request-complete="$(this).focus()" placeholder="Find user..." class="form-control pr-10">
    <i class="la la-search absolute top-1/2 right-6 text-2xl text-gray-500"></i>
</div>
{% for user in users %}
    <button data-request="{{ __SELF__ }}::onAddUser" data-request-data="user: {{ user.id }}" class="add-user px-4 py-2 border-b border-gray-200 flex items-center w-full">
        <img class="rounded-full mr-3" width="32px" src="{{ user.picture }}" alt="{{ user.name }}">
        <span>{{ user.name }}</span>
    </button>
{% endfor %}