{% set tags = tags ?: __SELF__.ticket.availableTags() %}

{% for tag in tags %}
    <div class="add-tag relative mx-1 mb-2">
        <button class="edit-tag focus:outline-none rounded-full border-2 border-white shadow-md opacity-0 invisible scale-0 transition origin-bottom bg-blue-500 text-white w-7 h-7 flex justify-center items-center absolute -top-6 left-1/2 transform -translate-x-1/2"
                data-target="#tag-{{ tag.id }}">
            <i class="la la-pen"></i>
        </button>

        <button style="background: rgba({{ hex2rgb(tag.color) }},0.1); color: {{ tag.color }}; border-color: {{ tag.color }};"
                class="tag whitespace-nowrap px-2 py-1 rounded-md border font-bold focus:outline-none"
                data-request="{{ __SELF__ }}::onAddTag"
                data-request-data="tag: {{ tag.id }}"
        >
            {{ tag.title }}
        </button>

        <form id="tag-{{ tag.id }}" data-request="{{ __SELF__ }}::onUpdateTag" data-color="#ffffff" style="min-width: 200px" class="tag-form flex flex-col items-end absolute p-3 top-full left-0 mt-2 bg-white shadow-md rounded-md z-10 origin-left transition duration-300 invisible opacity-0 scale-0 origin-top origin-left">
            <button class="focus:outline-none" data-target="#tag-{{ tag.id }}">
                <i class="la la-times"></i>
            </button>

            <input type="hidden" name="tag" value="{{ tag.id }}">

            <div class="relative w-full">
                <div class="mb-3">
                    <label for="newTagTitle" class="font-semibold text-sm">Title</label>
                    <input type="text"
                           id="newTagTitle"
                           class="custom px-3 py-1 border border-blue-300 focus:border-blue-500 min-w-full"
                           name="title"
                           onkeyup="$(this).parents('form').prev('button').text($(this).val())"
                           value="{{ tag.title }}">
                </div>

                <div class="mb-4 w-full">
                    <label for="newTagColor" class="font-semibold text-sm">Color</label>
                    <input id="newTagColor"
                           type="color"
                           name="color"
                           onclick="$(this).parents('form').prev('button').css({background: 'rgba(' + hexToRgb($(this).val()) + ',0.1)', color: $(this).val(), borderColor: $(this).val()});"
                           onchange="$(this).parents('form').prev('button').css({background: 'rgba(' + hexToRgb($(this).val()) + ',0.1)', color: $(this).val(), borderColor: $(this).val()});"
                           oninput="$(this).parents('form').prev('button').css({background: 'rgba(' + hexToRgb($(this).val()) + ',0.1)', color: $(this).val(), borderColor: $(this).val()});"
                           value="{{ tag.color }}"
                           class="tag-color-picker w-full"/>
                </div>

                <div class="flex -mr-3">
                    <button class="button button-primary flex-1 text-center justify-center" type="submit">Save</button>

                    <button data-request="{{ __SELF__ }}::onDeleteTag"
                            data-request-data="tag: {{ tag.id }}"
                            class="button button-icon bg-custom bg-red-500">
                        <i class="la la-trash"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endfor %}

<div class="relative mx-1 mb-2">
    <button class="text-blue-300 bg-white whitespace-nowrap py-1 px-2 rounded-md border border-dashed border-blue-300 font-bold focus:outline-none" data-target="#newTag">
        Create tag
    </button>

    <form id="newTag" data-request="{{ __SELF__ }}::onCreateTag" data-color="#ffffff" style="min-width: 200px" class="tag-form absolute flex flex-col items-end p-3 top-full left-0 mt-2 bg-white shadow-md rounded-md z-10 origin-left transition duration-300 invisible opacity-0 scale-0 origin-top origin-left">
        <button class="focus:outline-none" data-target="#newTag">
            <i class="la la-times"></i>
        </button>

        <div class="relative w-full">
            <div class="mb-3">
                <label for="newTagTitle" class="font-semibold text-sm">Title</label>
                <input type="text"
                       id="newTagTitle"
                       class="custom px-3 py-1 border border-blue-300 focus:border-blue-500 min-w-full"
                       name="title"
                       onkeyup="$(this).parents('form').prev('button').text($(this).val())"
                       value="New tag">
            </div>

            <div class="mb-4 w-full">
                <label for="newTagColor" class="font-semibold text-sm">Color</label>
                <input id="newTagColor"
                       type="color"
                       name="color"
                       onclick="$(this).parents('form').prev('button').css({background: 'rgba(' + hexToRgb($(this).val()) + ',0.1)', color: $(this).val(), borderColor: $(this).val()});"
                       onchange="$(this).parents('form').prev('button').css({background: 'rgba(' + hexToRgb($(this).val()) + ',0.1)', color: $(this).val(), borderColor: $(this).val()});"
                       oninput="$(this).parents('form').prev('button').css({background: 'rgba(' + hexToRgb($(this).val()) + ',0.1)', color: $(this).val(), borderColor: $(this).val()});"
                       value="#008ae0"
                       class="tag-color-picker w-full"/>
            </div>

            <button class="button button-primary w-full text-center justify-center" type="submit">Save</button>
        </div>
    </form>
</div>