{% for user in __SELF__.ticket.users %}
    <div class="member rounded-full cursor-pointer shadow-md relative w-10 h-10 flex items-center justify-center -ml-2 hover:z-20">
        <img src="{{ user.picture }}" class="rounded-full" width="40" alt="{{ user.credentials }}">

        {% if user.id != user().id %}
        <button data-request="{{ __SELF__ }}::onRemoveUser"
                data-request-data="user: {{ user.id }}"
                class="remove-user absolute bottom-full -mb-1 left-1.5 scale-0 origin-bottom z-20 rounded-full bg-blue-500 border-2 border-white w-7 h-7 flex justify-center items-center opacity-0 invisible transition transform">
            <i class="la la-times text-white font-bold"></i>
        </button>
        {% endif %}

        <span class="block absolute top-full opacity-0 scale-0 invisible transition duration-200 whitespace-nowrap bg-gray-100 font-bold rounded-md text-sm px-2 py-1 transform">
            {{ user.name }}
        </span>
    </div>
{% endfor %}