{% set ticket = __SELF__.ticket %}

<div class="ticket py-9 px-16 bg-white h-full flex flex-col max-h-screen overflow-y-auto overflow-x-hidden" id="ticket">
    <div class="flex flex-col flex-1">
        <div class="flex items-center pb-5 border-b border-gray-200 mb-5">
            <div class="border-r border-gray-200 pr-2 py-2 flex items-center relative">
                <h2 class="flex items-center font-extrabold text-3xl">
                    <span id="js-priority">{% partial '@_priority' %}</span>

                    <input type="text"
                           style="min-width: 10ch"
                           data-request="{{ __SELF__ }}::onUpdateTicketTitle"
                           data-request-blur
                           class="custom border-0 font-extrabold"
                           name="ticket_title"
                           value="{{ ticket.name }}">
                </h2>

                <form id="updatePriority"
                      data-request="{{ __SELF__ }}::onUpdatePriority"
                      class="absolute flex items-center p-3 top-full left-0 mt-2 bg-white shadow-md rounded-md z-10 transition duration-200 invisible opacity-0 scale-0 origin-top-left transform"
                >
                    <span class="text-sm whitespace-nowrap">Choose priority:</span>

                    <div class="select flex-1 ml-2">
                        <select class="form-control w-full text-sm"
                                name="priority"
                                onchange="$(this).parent().request()"
                                id="priority"
                        >
                            <option value="1" {{ ticket.priority == 1 ? 'selected' }}>High priority </option>
                            <option value="2" {{ ticket.priority == 2 ? 'selected' }}>Medium priority </option>
                            <option value="3" {{ ticket.priority == 3 ? 'selected' }}>Low priority </option>
                        </select>
                        <i class="la la-angle-down"></i>
                    </div>

                    <button class="button-icon shadow-md" data-target="#updatePriority">
                        <i class="la la-times text-2xl"></i>
                    </button>
                </form>
            </div>

            <div id="js-members" class="flex items-center py-2 ml-8 pr-8 border-r border-gray-200">
                <p class="font-semibold">Assigned team members:</p>

                <div class="ticket-members flex items-center ml-6 relative">
                    <div id="js-ticket-users" class="flex items-center">
                        {% partial '@_users' %}
                    </div>

                    <div id="js-ticket-add-users" class="non-members absolute top-0 left-full ml-2 bg-white shadow-md rounded-md z-10 transition duration-200 invisible opacity-0 scale-0 origin-top-left transform">
                        {% partial '@_add_users' users=__SELF__.ticket.excludedUsers.sortBy('name') %}
                    </div>

                    <button class="add-members button-icon shadow-md" data-tooltip="Add people" data-target="#js-ticket-add-users">
                        <i class="la la-user-plus text-2xl"></i>
                        <i class="la la-times text-2xl hidden"></i>
                    </button>
                </div>
            </div>

            <div class="ticket-tags flex items-center ml-8 relative">
                <p class="font-semibold">Tags:</p>

                <div id="js-ticket-tags" class="applied-tags flex items-center ml-2">
                    {% partial '@_tags' %}
                </div>

                <button class="button button-icon add-tags-button shadow-md" data-tooltip="Add tag" data-target="#other-tags">
                    <i class="la la-plus text-2xl"></i>
                    <i class="la la-times text-2xl hidden"></i>
                </button>

                <div id="other-tags" style="max-width: 320px; min-width: 270px;" class="other-tags absolute top-0 left-full ml-2 bg-white shadow-md rounded-md z-10 transition duration-200 invisible opacity-0 scale-0 origin-top-left transform">
                    <div class="search-wrapper p-3 relative">
                        <input type="text" name="query" data-request="{{ __SELF__ }}::onSearchTags" data-track-input placeholder="Find tag..." class="form-control pr-10 w-full">
                        <i class="la la-search absolute top-1/2 right-6 text-2xl text-gray-500"></i>
                    </div>

                    <div id="js-ticket-available-tags" class="flex items-start flex-wrap px-2 pb-2">
                        {% partial '@_tags_picker' %}
                    </div>
                </div>
            </div>
        </div>
        <div class="layout-body">
            <div id="js-ticket" class="board">
                <div class="flex items-start pb-6 mb-6 border-b border-gray-200">
                    <div class="w-5/12 pr-8">
                        <p class="text-xl font-bold mb-2">Description</p>
                        <textarea name="ticket_description" class="custom w-full border-0 resize-y -ml-2 pl-2" rows="{{ max(2, min((ticket.description|length) // 64, 6)) }}" data-request="{{ __SELF__ }}::onUpdateTicketDescription" data-request-blur>{{ ticket.description }}</textarea>
                    </div>
                    <div class="w-2/12 pl-8 border-l border-gray-200">
                        <p class="text-xl font-bold mb-2">Estimated time</p>

                        <form data-request="{{ __SELF__ }}::onUpdateTicketEstimation" class="flex items-center text-3xl text-blue-400 font-semibold flex-wrap">
                            <input type="text" data-request-blur class="custom text-3xl text-blue-400 font-semibold mt-2 w-1/3" name="ticket_estimation_hours" placeholder="0" value="{{ ticket.estimationHours() ?: 0 }}">
                            <span class="cursor-default mt-2">h</span>
                            <input type="text" data-request-blur class="custom text-3xl text-blue-400 font-semibold mt-2 w-1/3 ml-4" name="ticket_estimation_minutes" placeholder="0" value="{{ ticket.estimationMinutes() ?: 0 }}">
                            <span class="cursor-default mt-2">m</span>
                        </form>
                    </div>
                    <div class="w-2/12 pl-8 border-l border-gray-200">
                        <p class="text-xl font-bold mb-2">Elapsed time</p>
                        <div class="flex items-center mt-4">
                            <p class="elapsed-time text-3xl text-blue-400 font-semibold">{{ ticket.elapsedTime() }}</p>
                            <form data-request="{{ __SELF__ }}::onToggleTimer" method="POST">
                                <input type="hidden"
                                       name="time"
                                       class="{{ ticket.runningTimer() ? 'timer-active' : '' }}"
                                       value="{{ ticket.timers.sum('time_in_seconds') }}">

                                <button type="submit" class="button button-icon timer">
                                    <i class="la {{ ticket.runningTimer() ? 'la-pause' : 'la-clock' }} text-2xl"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="w-3/12 pl-8 border-l border-gray-200">
                        <p class="text-xl font-bold mb-2">Due date</p>
                        <input type="date" data-request="{{ __SELF__ }}::onUpdateTicketDueDate" data-request-blur class="custom w-full text-3xl text-blue-400 font-semibold mt-2" name="ticket_due_date" value="{{ ticket.due_date.toDateString() }}">
                    </div>
                </div>

                <div class="flex items-start space-x-10">
                    <div class="w-1/4">
                        <div class="flex justify-between items-center">
                            <p class="text-xl font-bold mb-2">Checklists</p>
                        </div>

                        <div class="mb-6">
                            <form method="POST" data-request="{{ __SELF__ }}::onCreateChecklist" data-request-success="$(this).find('input').val('');" class="flex items-stretch">
                                <input type="text" required name="checklist" placeholder="New checklist..." class="custom block flex-1 placeholder-blue-300 py-1 px-6 rounded-md border border-dashed border-blue-300 font-bold">

                                <button type="submit" class="button button-icon bg-custom bg-blue-300">
                                    <i class="la la-check text-2xl"></i>
                                </button>
                            </form>
                        </div>

                        <div id="js-checklists" class="max-h-sm overflow-y-auto overflow-x-visible">
                            {% partial '@_checklists' %}
                        </div>
                    </div>

                    <div class="w-1/4">
                        <div class="flex justify-between items-center">
                            <p class="text-xl font-bold mb-2">Files</p>
                        </div>

                        <div id="js-ticket-files">
                            {% partial '@_files' %}
                        </div>
                    </div>

                    <div class="w-1/4">
                        <div class="flex justify-between items-center">
                            <p class="text-xl font-bold mb-2">Comments</p>
                        </div>

                        <div class="mb-4">
                            <form method="POST" data-request="{{ __SELF__ }}::onAddComment" class="flex items-stretch">
                                <input type="text" required name="comment" placeholder="Add comment..." class="custom block flex-1 placeholder-blue-300 py-1 px-6 rounded-md border border-dashed border-blue-300 font-bold">

                                <button type="submit" class="button button-icon bg-custom bg-blue-300">
                                    <i class="la la-check text-2xl"></i>
                                </button>
                            </form>
                        </div>

                        <div id="js-ticket-comments" class="max-h-sm overflow-y-auto overflow-x-visible pr-3 pb-14">
                            {% partial '@_comments' %}
                        </div>
                    </div>

                    <div class="w-1/4">
                        <div class="flex justify-between items-center">
                            <p class="text-xl font-bold mb-2">Actions</p>
                        </div>

                        <div class="mb-4">
                            <form method="POST" data-request="{{ __SELF__ }}::onDelete" class="flex items-stretch">
                                <button type="submit" class="custom block flex-1 text-red-500 py-2 px-6 rounded-md border border-dashed border-red-500 font-bold">Delete ticket</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>