{% set project = project ?: __SELF__.project %}

<div class="search-wrapper p-3 relative">
    <input id="search-users"
           name="query"
           value="{{ query ?: '' }}"
           type="text"
           data-request="{{ __SELF__ ?: 'projectSingle' }}::onSearchUsers"
           data-track-input
           data-request-complete="$(this).focus()"
           placeholder="Find user..."
           class="form-control pr-10">

    <i class="la la-search absolute top-1/2 right-6 text-2xl text-gray-500"></i>
</div>

{% for user in project.excludedUsers().sortBy('name') %}
    <button data-request="{{ __SELF__ ?: 'projectSingle' }}::onAddUser"
            data-request-data="user: {{ user.id }}"
            data-request-success="
                projectUpdate('#js-project-users', 'projectsingle/_users', {{ project.id }});
                projectUpdate('#js-project-add-users', 'projectsingle/_add_users', {{ project.id }});
            "
            class="add-user px-4 py-2 {{ not loop.last ? 'border-b border-gray-200' }} flex items-center w-full">
        <img class="rounded-full mr-3" width="32" src="{{ user.picture|resize(32) }}" alt="{{ user.name }}">

        <span>{{ user.name }}</span>
    </button>
{% endfor %}