{% set columnWidths = {'0': 'w-22.5 min-w-22.5', '1': 'w-22.5 min-w-22.5', '2': 'w-45 min-w-45', '3': 'w-67.5 min-w-67.5', '4': 'w-90 min-w-90'} %}
{% for section in sections %}
    <div class="relative flow-section py-3 bg-blue-50 rounded-md {{ columnWidths[section.subsections.count()] }}"
         id="flow-section-{{ section.id }}"
         data-limit="{{ section.wip_limit }}"
         data-section-id="{{ section.id }}">

        {% if section.mark_tickets_complete %}
            <div class="bg-green-100 text-xs text-green-700 font-semibold rounded-md rounded-tr-none rounded-bl-none py-0 px-1 absolute bottom-0 right-0 whitespace-nowrap">
                Completed tickets
            </div>
        {% endif %}

        <div class="section-inner">
            <div class="section-header flex justify-center items-center w-full px-3 {{ section.subsections.isNotEmpty() ? 'pb-2 border-b border-dashed border-gray-300' : '' }}">
                <div id="js-section-header-{{ section.id }}" class="title text-lg text-center font-bold">
                    {% partial 'projectsingle/_section_header' section=section %}
                </div>
            </div>

            {% if not section.subsections.isEmpty() %}
                <div class="flex">
                    {% for subsection in section.subsections %}
                        <div class="flow-section py-3 bg-blue-50 rounded-md w-1/{{ section.subsections.count() }} {{ not loop.first ? 'border-l border-dashed border-gray-300' : '' }}"
                             id="flow-section-{{ subsection.id }}"
                             data-section-id="{{ subsection.id }}">
                            <div class="section-inner">
                                <div class="section-header flex items-center justify-center w-full px-3">
                                    <div id="js-section-header-{{ subsection.id }}" class="title text-lg text-center font-bold">
                                        {% partial 'projectsingle/_section_header' section=subsection %}
                                    </div>
                                </div>

                                <div class="section-tickets min-h-lg max-h-md overflow-y-auto px-3">
                                    <div data-wip-limit="{{ subsection.wip_limit ?: -1 }}"
                                         id="section-tickets-{{ subsection.id }}"
                                         class="{{ subsection.wip_limit and subsection.wip_limit <= subsection.tickets.count() ? 'wip-reached' }} pb-0.5 section-tickets-inner min-h-xs {{ loop.parent.first ? 'min-h-sm' : 'min-h-lg' }} {{ user().can('board.tickets.reorder') and not user().restrictions.contains('id', subsection.id) ? 'is-sortable' }}">
                                        {% partial 'projectsingle/_tickets' section=subsection %}
                                    </div>
                                </div>

                                {% if loop.parent.first and loop.first and user().can('board.tickets.add') %}
                                    <div id="section-add-ticket" class="ml-auto mt-4">
                                        {% partial 'projectsingle/_add_ticket' section=subsection %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="section-tickets {{ loop.first and user().can('board.tickets.add') ? 'max-h-md' : 'max-h-lg' }} overflow-y-auto px-3">
                    <div data-wip-limit="{{ section.wip_limit ?: -1 }}"
                         id="section-tickets-{{ section.id }}"
                         class="{{ section.wip_limit and section.wip_limit <= section.tickets.count() ? 'wip-reached' }} pb-1 section-tickets-inner min-h-sm {{ user().can('board.tickets.reorder') and not user().restrictions.contains('id', section.id) ? 'is-sortable' }}">
                        {% partial 'projectsingle/_tickets' section=section %}
                    </div>
                </div>

                {% if section.subsections.isEmpty() and loop.first and user().can('board.tickets.add') %}
                    <div id="section-add-ticket-{{ section.id }}" class="ml-auto mt-4">
                        {% partial 'projectsingle/_add_ticket' section=section %}
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endfor %}