{% set project = __SELF__.project %}

<div class="project py-10 px-16 bg-white h-full flex flex-col" id="project">
    <div class="flex flex-col flex-1">
        <div class="flex items-center pb-2 border-b border-gray-200 mb-5">
            <h2 class="font-bold mr-10 mb-4 text-3xl">Board</h2>

            <div class="search-wrapper relative cursor-pointer mb-4 mr-10">
                <input type="text"
                       data-request="{{ __SELF__ }}::onSearchTickets"
                       data-track-input="250"
                       name="query"
                       placeholder="Search tickets..."
                       class="w-full pr-10">
                <i class="la la-search is-active absolute right-2 top-1/2 text-2xl text-gray-500"></i>
                <i class="la la-spinner absolute right-2 top-1/2 text-2xl text-gray-500 invisible"></i>
                <i class="la la-times absolute right-2 top-1/2 text-2xl text-gray-500 invisible"></i>
            </div>

            <div id="js-members" class="mr-auto">
                <div class="project-members flex items-center pl-10 relative border-l border-gray-300 mb-4">
                    <div id="js-project-users" class="flex items-center">
                        {% partial '@_users' %}
                    </div>

                    <div id="js-project-add-users" class="non-members absolute top-0 left-full ml-2 bg-white shadow-md rounded-md z-10 origin-left transition duration-200 invisible opacity-0 scale-0 origin-top-left z-50 transform">
                        {% partial '@_add_users' users=__SELF__.project.excludedUsers %}
                    </div>

                    <button class="add-members button-icon shadow-md" data-tooltip="Add people" data-target="#js-project-add-users">
                        <i class="la la-user-plus text-2xl"></i>
                        <i class="la la-times text-2xl hidden"></i>
                    </button>
                </div>
            </div>

            <div id="js-flow-update" class="actions mb-4 mr-4 ml-4">
                {% if project.flow %}
                    {% partial '@_flow_update' project=project %}
                {% endif %}
            </div>

            <div class="filters-wrapper ml-4 mb-4">
                <div class="select">
                    <select name="filter" id="name" class="form-control" data-request="{{ __SELF__ }}::onFilterTickets">
                        <option value="">-- Ticket filters --</option>
                        <option value="high-priority">High priority tickets</option>
                        <option value="medium-priority">Medium priority tickets</option>
                        <option value="low-priority">Low priority tickets</option>
                        <option value="assigned-only">Assigned tickets</option>
                        <option value="my-tickets">Tickets I am assigned to</option>
                        <option value="estimated-only">Estimated tickets</option>
                        <option value="non-estimated-only">Non-estimated tickets</option>
                        <option value="checklist-only">Tickets with checklists</option>
                        <option value="files-only">Tickets with files</option>
                        <option value="comments-only">Tickets with comments</option>
                    </select>
                    <i class="la la-angle-down"></i>
                </div>

                {% if app.session.exists('ticketsFilter') %}
                <a href="#" class="button-icon" id="clear-filters" data-tooltip="Clear filter">
                    <i class="la la-times text-2xl"></i>
                </a>
                {% endif %}
            </div>
        </div>
        <div class="layout-body flex-1">
            <div id="js-board" class="board h-full">
                <div id="workflow"
                     class="w-full pb-3 h-full flex rounded-md relative space-x-3 overflow-x-auto overflow-y-hidden {{ project.flow and project.flow.sections.isEmpty() ? 'items-center justify-center bg-blue-50 flex-wrap' : '' }}">
                    {% partial '@_board' project=project %}
                </div>
            </div>
        </div>
    </div>
</div>