{% set project = __SELF__.project %}

<div class="project pt-10 pb-8 bg-white h-full flex flex-col" id="project" style="max-width: calc(100vw - 320px); width: 100%;overflow-y: auto;height: 100vh;">
    <div class="flex flex-col flex-1">
        <div class="flex px-16 items-center pb-2 border-b border-gray-200 mb-5">
            <h2 class="font-bold mr-10 mb-4 text-3xl">Board</h2>

            <div class="search-wrapper relative cursor-pointer mb-4 mr-10">
                <input type="text"
                       data-request="{{ __SELF__ }}::onSearchTickets"
                       data-track-input="250"
                       name="query"
                       placeholder="Search tickets..."
                       class="w-full pr-10">
                <i class="la la-search is-active absolute right-2 top-1/2 text-2xl text-gray-500"></i>
                <i class="la la-spinner absolute right-2 top-1/2 text-2xl text-gray-500 invisible"></i>
                <i class="la la-times absolute right-2 top-1/2 text-2xl text-gray-500 invisible"></i>
            </div>

            <div id="js-members" class="mr-auto">
                <div class="project-members flex items-center pl-10 relative border-l border-gray-300 mb-4">
                    <div id="js-project-users" class="flex items-center">
                        {% partial 'projectsingle/_users' %}
                    </div>

                    {% if user().can('board.users.manage') %}
                        <div id="js-project-add-users" class="non-members absolute top-0 left-full pb-2 ml-2 bg-white shadow-md rounded-md z-10 origin-left transition duration-200 invisible opacity-0 scale-0 origin-top-left z-50 transform">
                            {% partial 'projectsingle/_add_users' %}
                        </div>

                        <button class="add-members button-icon shadow-md" data-tooltip="Add users" data-target="#js-project-add-users">
                            <i class="la la-user-plus text-2xl"></i>
                            <i class="la la-times text-2xl hidden"></i>
                        </button>
                        <div class="background-overlay fixed inset-0 bg-black bg-opacity-50 invisible opacity-0 transition z-40"></div>
                    {% endif %}
                </div>
            </div>

            {% if user().can('board.workflow.edit') %}
                <div id="js-flow-update" class="actions mb-4 mr-4 ml-4">
                    {% if project.flow %}
                        {% partial 'projectsingle/_flow_update' project=project %}
                    {% endif %}
                </div>
            {% endif %}

            <div id="js-project-filters" class="filters-wrapper ml-4 mb-4 flex -mr-2 items-center">
                {% partial 'projectsingle/_filters' %}
            </div>
        </div>
        <div class="layout-body flex-1">
            <div id="js-board" class="board h-full">
                <div id="workflow"
                     class="workflow-{{ project.id }} px-16 w-full pb-8 rounded-md relative overflow-x-auto flex flex-col {{ project.flow and project.flow.sections.isEmpty() ? 'items-center justify-center bg-blue-50' : '' }} {{ not project.flow and project.swimlanes.isEmpty() ? 'h-full' }}">
                    {% partial 'projectsingle/_board' project=project %}
                </div>
            </div>
        </div>
    </div>
</div>

{#
{% if user().team.settings.general.ticket_modal %}
    <div id="ticketPopup" class="fixed inset-0 flex items-center justify-center z-50 opacity-0 invisible">
        <div class="absolute inset-0 bg-black bg-opacity-50 z-10" data-target="#ticketPopup"></div>
        <div id="js-ticket-popup" class="relative z-20 bg-white py-5 px-8 rounded-md overflow-y-auto" style="width: calc(100% - 48px); max-width: 1360px; height: 100%; max-height: calc(100% - 48px)">
            {% if __SELF__.ticket %}
                {% partial 'projectsingle/_ticket' ticket=__SELF__.ticket %}
            {% endif %}
        </div>
        <button data-target="#ticketPopup" class="text-white no-underline font-semibold absolute w-10 h-10 p-2 text-center rounded-lg inline-flex mx-3 flex justify-center items-center transition focus:outline-none z-50 top-6 right-6 bg-white text-blue-500">
            <i class="la la-times text-2xl"></i>
        </button>
    </div>

    <div class="loader fixed inset-0 flex items-center justify-center hidden z-50">
        <div class="absolute inset-0 bg-black bg-opacity-25 z-10"></div>
        <div class="absolute z-30 flex left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 justify-center items-center">
            <i class="la la-circle-notch text-white animate-spin text-7xl"></i>
        </div>
    </div>
{% endif %}#}
